@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Acme',sans-serif;
}
.main-parent{
  height: 100vh;
  /* background-image: url(workbench.jpg); */
  background-color:powderblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-parent .form-wrap{
  width: 450px;
  background: rgba(255, 255, 255, 0.147);
  border-radius: 10px;
  padding: 35px 40px;
  backdrop-filter: blur(5px);
}
.main-parent .form-wrap h1{
  font-variant: small-caps;
  font-size: 45px;
  text-align: center;
  margin-bottom: 15px;
}
.main-parent .form-wrap h1 span{
  color: #fc6107;
}
.main-parent .form-wrap .single-input input{
  width: 100%;
  padding: 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline:none;
  background-color:transparent;
  margin-bottom: 10px;
  font-size: 15px;
  font-family:'Roboto',sans-serif;
}
.Submit-button
{
  text-align:right;
}
.Submit-button button{
  padding: 13px 30px;
  background-color: #f57224;
  outline: none;
  border: none;
  color: #fff;
  font-family:'Roboto',sans-serif;
  font-size: 15px;
  cursor: pointer;
}
.Submit-button button:hover{
  background-color: green;
  border: 1px solid orange;
  border-radius: 10px;
}
.account-have{
  font-size:16px;
  margin-top:-30px;
}
.account-have a{
  color: rgb(106, 126, 93);
  text-decoration:none;
  font-family: 'Roboto',sans-serif;
  margin-left: 10px;
}
.SIGNUP{
  display:none;
}
a{
  cursor: pointer;
}

/* .LOGIN , .SIGNUP{
  display:flex;
} */

.userlist{
text-align: center;
}
.centered-table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  
}
.centered-table th,
.centered-table td {
  border: 1px solid #000;
  padding: 8px;
}
.centered-table th {
  background-color: #f2f2f2;
}
.action-button {
  margin-right: 5px;
  padding: 6px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 20%;
}
.view-button {
  background-color: #28a745;
  margin-right: 5px;
  border-radius: 5px;
}
.edit-button {
  background-color: #ffc107;
  margin-right: 5px;
  border-radius: 5px;
}
.delete-button {
  background-color: #dc3545;
  padding-right: 10px;
  border-radius: 5px;
}
/* Hover effect for buttons */
.action-button:hover {
  opacity: 0.8;
}
.header{
  background-color:powderblue;
  height: 50px;
  padding :10px 250px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.header span{
  color: #fc6107;
}
.header button{
  font-size: 15px;
  padding: 5px 5px ;
  border: 2px solid green;
  background-color: magenta;
  color: white;
  border-radius: 5px;
}
.header button:hover{
  background-color: black;
  color:white;
}

/* CSS Styles for Buttons Container */
.btn-container {
  display: flex;
  justify-content: space-between;
}

/* CSS Styles for Buttons */
.btn-container button {
  flex-basis: calc(33.33% - 10px); 
  margin-right: 5px;
}

#viewDetails {
  display: none;
  padding: 16px;
  background-color: #dda6a6;
  border: 1px solid #ddd;
  max-width: 350px;
  height: 200px;
  text-align: left;
  margin: 0 auto;
  margin-top: 200px;
  position: relative;
  border-radius: 10px;
}

#viewDetails .closeBtn {
  position:absolute;
  top: -10px; 
  right: -10px; 
  cursor: pointer;
  background-color: #ce1414;
  padding: 8px;
  border-radius: 40%;
  font-size: 14px; 
  color: #aaa;
}
#viewDetails h3{
  text-align: center;
  color: #dc3545;
  font-size: 40px;
  font-variant: small-caps;
}
#viewDetails p{
  font-size: 25px;
  font-variant: small-caps;
}
.UPDATE{
  display: none;
}

.back-button
{
  text-align:left;
  margin-top: -30px;

}
.back-button back-button{
  padding: 13px 30px;
  background-color: #f57224;
  outline: none;
  border: none;
  color: #fff;
  font-family:'Roboto',sans-serif;
  font-size: 15px;
  cursor: pointer;
}
.Submit-button back-button:hover{
  background-color: green;
  border: 1px solid orange;
  border-radius: 10px;
}